extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='post', enctype='multipart/form-data', action='/check-image')
    input(type='file', name='imageupload')
    input(type='submit', name='uploadimage', value='Upload Image')